@import '../Helper/variable.scss';
@import '../Helper/mixin.scss';
.myCarousel{
    background-image: url(../../img/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    
}
.myIntroCarousel{
    background: linear-gradient(to right,#842b31, #D64A4B );
    padding: 15px 0;
    color: $color-white-0;
    .introItem{
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        font-size: 50px;
        margin-right: $mg-2;
    }
    h4{
        margin-bottom: 0;
    }
    p{
        margin-bottom: 0;
        font-size: 20px;
    }
}}
