@import '../Helper/variable.scss';
@import '../Helper/mixin.scss';
.titleItem{
    font-weight: bold;
    cursor: pointer;
    border:none !important;
    color: #73726c !important;
    &:hover{
        border-bottom: 2px solid #3c3b37 !important;
    }
}
.titleItem.activeTitle{
    border-bottom: 2px solid #3c3b37 !important;
    color: #3c3b37 !important;
}