@import '../Helper/variable.scss';
@import '../Helper/mixin.scss';
.newsEventContainer{
    width: 85%;
    margin: 0 auto;
    margin-top: 40px;
    h2{
        color: #ec5252;
        font-weight: 700;
    }
    .contentNews{
        color: #a0a0a0;
    }
}