@import '../Helper/variable.scss';
@import '../Helper/mixin.scss';
.commentsContainer{
    background: url('../../img/comments.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    margin-top: 40px;
    padding: 40px 0;
    .commentContent{
        width: 85%;
        margin: 0 auto;
        h2{
            color:#F50057;
            font-weight: 700;
            margin-bottom: 30px;;
        }
        .feedBackContent{
            background-color: rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 2px 1px #8e8e8e;
            padding: 50px;
            color: white;
            .feedBackContentText{
                background-color: rgba(0, 0, 0, 0.65);
                padding: 10px 20px;
                color: white;
                margin-bottom: 20px;
                height: 140px;
                position: relative;
                &::after{
                    position: absolute;
    content: '';
    border-top: 9px solid rgba(0, 0, 0, 0.65);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    bottom: -9px;
    left: 27%;
                }
            }
            .feedBackContentInfo{
                padding-left: 85px;
                .feedBackContentImage{

                }
                .feedBackContentName{
                    .feedBackContentAccount{
                        color: #ec5252;
                    }
                }
            }
        }
    }
}